body{
    margin: 0;
    padding: 0;
    font-family: Geneva, Verdana, sans-serif;
}

.wrap{
    max-width: 1100px;
    margin: 0 auto;
}

.top-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero{
    display: flex;
    gap: 50px;
    padding: 100px 0;
}

.hero-img{
    width: 550px;
    height: 275px;
    object-fit: cover;
    flex-shrink: 0;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.75);
}

.hero-text h1{
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.hero-text h2{
    font-size: 18px;
    color: #E5E7EB;
}

header{
    background: #1F2937;
}

ul{
    display: flex;
    list-style: none;
}

ul li{
    margin-left: 30px;
}

a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

button{
    padding: 8px 24px;
    background: #3882F6;
    border: 0;
    border-radius: 8px;
    color: white;
    font-size: 18px;
}